.works {
    padding-top: 90px;
    padding-bottom: 120px;

    &__title {
        margin-left: 300px;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        color: #2B2B30;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 80px;
    }

    &__slider {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .slick-prev {
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        left: 50px;
        border-radius: 50%;
        border: 2.5px solid #3E40CE;
        z-index: 2;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .slick-next {
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        right: 50px;
        border-radius: 50%;
        border: 2.5px solid #3E40CE;
        z-index: 2;

        img {
            width: 80px;
            height: 80px;
        }
    }
}