@import 'base/variables';
@import '../css/bootstrap-reboot.min.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');






* {
    margin: 0;
    padding: 0;
}


.container {
    position: relative;
    width: 1600px;
    margin: 0 auto;
}

@import 'block/promo';
@import 'block/create-site';
@import 'block/about';
@import 'block/steps';
@import 'block/works';
@import 'block/services';
@import 'block/proposal';
@import 'block/footer';
